body{
    font-family: "Montserrat", "sans-serif";
}

#step3{
    padding: 24px 16px;
}

.scratch-container{
    width: 300px;
    height: 100px;
    background-color: rgb(158, 212, 212);
    border-radius: 10px;
    margin-bottom: 32px;
    overflow: hidden;
    position: relative;
}
.scratch-card{
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: grabbing;
    border: 2px solid #000;
}
canvas{
    position: absolute;
}
a {
    z-index: 10; 
    position: relative;
}
.tap{
    color: rgb(18, 125, 125);
}